<div class="pending">
  <span></span>
  <span class="text-muted"><%= @total %> job(s) running</span>
</div>

<% if @jobs.empty? -%>
  <div class="alert alert-success">No jobs are currently running</div>
<% else -%>
  <div class="table-container">
    <table>
      <thead>
        <tr>
          <th>Job</th>
          <th>JID[Args]</th>
          <th>Stream</th>
          <th>Worker</th>
          <th>Running for</th>
        </tr>
      </thead>
      <tbody>
        <% @jobs.each do |job| -%>
        <tr>
          <td>
            <div class="job-class">
              <%= h(job.dig(:data, :class).to_s) %>
            </div>
          </td>
          <td>
            <div class="job-id">
              <details>
                <summary>
                  <code><%= h(job.dig(:data, :jid)) %></code>
                </summary>
                <code><%= h(JSON.pretty_generate(job.dig(:data, :args))) %></code>
              </details>
            </div>
          </td>
          <td>
            <code><%= h(job[:stream].to_s) %></code>
          </td>
          <td><code style="font-size: var(--font-size-small);"><%= h(job[:worker].to_s) %></code></td>
          <td>
            <%= elapsed(job[:started_at]) %>
          </td>
        </tr>
        <% end -%>
      </tbody>
    </table>
  </div>
<% end -%>
