<% if @jobs.empty? -%>
  <div class="alert alert-success">No dead jobs found</div>
<% else -%>
  <div class="table-container">
    <table>
      <thead>
        <tr>
          <th>Job</th>
          <th>JID[Args]</th>
          <th>Stream</th>
          <th>Error</th>
          <th>Failed</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @jobs.each do |job| -%>
        <tr class="dead-row" id="dead-row-<%= job.seq %>">
          <td>
            <div class="job-class">
              <%= h(job.data[:class].to_s) %>
            </div>
          </td>
          <td>
            <div class="job-id">
              <details>
                <summary>
                  <code><%= h(job.data[:jid].to_s) %></code>
                </summary>
                <code><%= h((JSON.pretty_generate(job.data[:args]) rescue job.data[:args].to_s)) %></code>
              </details>
            </div>
          </td>
          <td>
            <code><%= h(job.stream) %></code>
          </td>
          <td style="max-width: 400px;">
            <% if job.data[:error] -%>
            <div class="error-message">
              <strong><%= h(job.data[:error].to_s.split(":").first || "Error") %></strong>
              <p><%= h(job.data[:error]) %></p>
            </div>
            <% end -%>
          </td>
          <td style="white-space: nowrap;">
            <time><%= h(job.timestamp) %></time>
          </td>
          <td>
            <a hx-patch="<%= url_for("/jobs/retry/#{job.seq}") %>"
               hx-target="#dead-row-<%= job.seq %>"
               hx-swap="innerHTML"
               class="btn btn-primary"
               style="width: 100%; text-align: center; margin-bottom: 3px">&#x21BB; Retry</a>
            <a hx-delete="<%= url_for("/jobs/delete/#{job.seq}") %>"
               hx-target="#dead-row-<%= job.seq %>"
               hx-swap="innerHTML"
               class="btn btn-danger"
               style="width: 100%; text-align: center; margin-bottom: 3px">&#x2715; Delete</a>
          </td>
        </tr>
        <% end -%>
      </tbody>
    </table>
  </div>
<% end -%>
