<div class="nav">
  <% @stream_names.each do |stream_name| -%>
    <button hx-get="<%= url_for('/jobs/enqueued', { stream_name: }) %>"
            hx-target="#content"
            hx-swap="innerHTML"
            hx-push-url="true"
            class="btn <%= "btn-primary" if @stream_name.to_s == stream_name.to_s %>">
      <%= h(stream_name) %>
    </button>
  <% end -%>
</div>

<div class="pending">
  <span></span>
  <span class="text-muted"><%= @total %> message(s) pending</span>
</div>

<% if @jobs.empty? -%>
  <div class="alert alert-success">Stream <code><%= h(@stream_name) %></code> is empty</div>
<% else -%>
  <div class="table-container">
    <table>
      <thead>
        <tr>
          <th>Job</th>
          <th>JID[Args]</th>
          <th>Stream</th>
          <th>Seq</th>
        </tr>
      </thead>
      <tbody>
        <% @jobs.each do |job| -%>
        <tr>
          <td>
            <div class="job-class">
              <%= h(job.data[:class].to_s) %>
            </div>
          </td>
          <td>
            <div class="job-id">
              <details>
                <summary>
                  <code><%= h(job.data[:jid].to_s) %></code>
                </summary>
                <code><%= h((JSON.pretty_generate(job.data[:args]) rescue job.data[:args].to_s)) %></code>
              </details>
            </div>
          </td>
          <td>
            <code><%= h(job.stream) %></code>
          </td>
          <td>
            <code><%= job.seq %></code>
          </td>
        </tr>
        <% end -%>
      </tbody>
    </table>
  </div>
<% end -%>
